@font-face {
	font-family: "Montserrat-Medium";
	src: url("../fonts/Montserrat-Medium.woff") format("woff"),
	url("../fonts/Montserrat-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
	url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/SourceCodePro-Bold.woff2") format("woff2"),
	url("../fonts/SourceCodePro-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/SourceCodePro-BoldItalic.woff2") format("woff2"),
	url("../fonts/SourceCodePro-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/SourceCodePro-Medium.woff2") format("woff2"),
	url("../fonts/SourceCodePro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/SourceCodePro-MediumItalic.woff2") format("woff2"),
	url("../fonts/SourceCodePro-MediumItalic.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}